.page-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;

  .login {
    width: 400px;
    height: 432px;
    padding: 32px 48px;
    background: #fff;
    border-radius: 4px;
    box-shadow: 0 12px 42px 0 rgb(17 17 17 / 25%);

    .header {
      height: 40px;
      margin-top: 28px;
      margin-bottom: 16px;
      font-size: 28px;
      background-size: 100% 100%;
    }

    .desc {
      display: inline-flex;
      height: 23px;
      line-height: 23px;
      color: #226eda;

      &::before {
        display: inline-block;
        width: 20px;
        height: 23px;
        margin-right: 8px;
        content: '';
        background: url('/src/assets/images/login/pre.png') no-repeat 50%;
        background-size: 100% 100%;
      }

      &::after {
        display: inline-block;
        width: 20px;
        height: 23px;
        margin-left: 8px;
        content: '';
        background: url('/src/assets/images/login/tail.png') no-repeat 50%;
        background-size: 100% 100%;
      }
    }

    .el-form {
      margin-top: 24px;
    }

    .img-code {
      width: 120px;
      height: 40px;
      padding: 4px;
      background-color: #fff;
    }
  }

  .el-input {
    border: 1px solid var(--el-border-color);
  }

  :deep(.el-input__wrapper) {
    box-shadow: none;
  }

  :deep(.el-input-group__append) {
    padding: 0;
    box-shadow: none;
  }

  .btn-login {
    width: 100%;

    .el-button {
      width: 100%;
    }
  }
}
